{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h2>{{ discussion.name }}</h2>

		<section>
			<div class="banner">
				<div class="author">
					<img src="/assets/img/{{ discussion.user.avatar }}" alt="avatar" class="avatar">
					<div class="authors_infos">
						<a href="{{ path('account', {'pseudo': discussion.user.pseudo}) }}" class="pseudo">{{ discussion.user.pseudo }}</a>
						<div class="infos">
							<p>{{ discussion.user.discussions|length + discussion.user.comments|length }}
								POSTS</p>
							<p>&nbsp•&nbsp</p>
							<p>{{ discussion.user.roles[0]|replace({'ROLE_': ''}) }}</p>
						</div>
					</div>
				</div>
				<p class="date">{{ discussion.createdAt|date('d/m/Y H:i') }}</p>
			</div>
			<div class="content">
				{{ discussion.content|raw }}
			</div>
		</section>
		{% for comment in discussion.comments %}
			<section>
				<div class="banner">
					<div class="author">
						<img src="/assets/img/{{ comment.user.avatar }}" alt="avatar" class="avatar">
						<div class="authors_infos">
							<a href="{{ path('account', {'pseudo': comment.user.pseudo}) }}" class="pseudo">{{ comment.user.pseudo }}</a>
							<div class="infos">
								<p>{{ comment.user.discussions|length + comment.user.comments|length }}
									POSTS</p>
								<p>&nbsp•&nbsp</p>
								<p>{{ comment.user.roles[0]|replace({'ROLE_': ''}) }}</p>
							</div>
						</div>
					</div>
					<p class="date">{{ comment.createdAt|date('d/m/Y H:i') }}</p>
				</div>
				<div class="content">
					{{ comment.content|raw }}
				</div>
			</section>
		{% endfor %}
		{% include "comment/_form.html.twig" %}
	</div>
{% endblock %}
