{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h2>{{ category.name }}</h2>
		<a href="{{ path('discussion_new', {'categorie': category.slug}) }}" class="btn btn_discussion">Nouvelle discussion</a>
		<table class="table">
			<thead>
				<tr>
					<th>Discussion</th>
					<th>Commentaires</th>
					<th>Plus récent</th>
				</tr>
			</thead>
			<tbody>
				{% for d in category.discussions %}
					<tr>
						<td>
							<a href="{{ path('discussion_show', {'categorie': category.slug, 'slug': d.slug}) }}">{{ d.name }}</a>
							<p>
								Publié par
								<a href="{{ path('account', {'pseudo': d.user.pseudo}) }}">{{ d.user.pseudo }}</a>
							</p>
						</td>
						<td>{{ d.comments|length }}</td>
						<td>test</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">Aucune discussion trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
